@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: hsl(226, 43%, 10%);
    padding: 30px;
}

header {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
}

.profile {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(246, 80%, 60%);
}

.profile .profile-img img {
    width: 80px;
    height: 80px;
    border:3px solid #fff;
    border-radius: 100%;
    margin-right: 15px;
}

.profile .name span {
    font-size: 15px;
    color: hsl(235, 45%, 61%)
}

.profile .name p {
    font-size: 22px;
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}

nav ul li {
    list-style: none;
    color: hsl(235, 45%, 61%);
}

/* main .cards{
    display: grid;
} */

main .cards .card{
    border: 1px solid #fff;
    color: #fff
}