@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    /* outline: 1px solid #fff; */
}

body {
    background-color: hsl(226, 43%, 10%);
    padding: 30px;
}

header {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: hsl(246, 80%, 60%);
}

.profile .profile-img img {
    width: 80px;
    height: 80px;
    border:3px solid #fff;
    border-radius: 100%;
    margin-right: 15px;
}

.profile .name span {
    font-size: 15px;
    color: hsl(235, 45%, 61%)
}

.profile .name p {
    font-size: 22px;
    color: hsl(236, 100%, 87%);
    font-weight: 300;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
}

nav ul li {
    list-style: none;
    color: hsl(235, 45%, 61%);
}

nav ul li.active {
    color: #fff;
}

main .cards{
    display: grid;
    row-gap: 20px;
}

main .cards .card{
    height: 150px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}


main .cards .card img{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateY(-10%);
    z-index: 1;
}

.work {
    background-color: hsl(15, 100%, 70%);
}

.play{
    background-color: hsl(195, 74%, 62%);
}

.study {
    background-color: hsl(348, 100%, 68%);
}

.exercise {
    background-color: hsl(145, 58%, 55%);
}

.social {
    background-color: hsl(264, 64%, 52%);
}

.self-care {
    background-color: hsl(43, 84%, 65%);
}

main .cards .card .time-tracker-card {
    background-color: hsl(235, 46%, 20%);
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.time-tracker-card .card-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.time-tracker-card .card-title p{
    font-size: 18px;
    font-weight: 500;
    color: hsl(236, 100%, 87%);
}

/* .time-tracker-card .card-title img {
    width: 10px;
    height: 10px;
} */

.time-tracked {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current {
    font-size: 30px;
    font-weight: 300;
    color:hsl(236, 100%, 87%);
}

.previous {
    color: hsl(235, 45%, 61%);
}

@media screen and (min-width: 700px) {
    
}
